body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e7;
    font-family: Arial, serif;
}

h1{
    font-weight: bold;
}

.container {
    text-align: center;
}

.sun {
    fill: #ffd500;
    stroke: #ffd500;
    justify-content: center;
    display: flex;
    align-items: center;
}

.pulse {
    justify-content: center;
    align-items: center;
    --animdur: 1s;
    --animn: pulse;
    --animic: infinite;
    --animdir: alternate;
    --animps: running;
    --animtf: linear;
    --animdel: 0s;
    --animfm: none;
    will-change: transform;
}

[data-animation] {
    animation: var(--animn, none) var(--animdur, 0s) var(--animtf, linear) var(--animdel, 0s) var(--animic, infinite) var(--animdir, alternate) var(--animfm, none) var(--animps, running);
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(.95);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.sky-Box{
    background-color: skyblue;
    position: relative;
    width: 400px;
    height: 200px;
}

.floor-Box{
    background-color: #0c5409;
    position: relative;
    width: 400px;
    height: 10px;
}
#sheep-container{
    position: absolute;
    right: 10px;
    bottom: 5px;
}