body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e7;
    font-family: Arial;
}

h1{
    font-weight: bold;
}

.container {
    text-align: center;
}

.sun {
    fill: #ffd500;
    stroke: #fddb35;
}

#moon {
    fill: #a4a4a4;
    stroke: #a9a9a9;
}

.sky-Box{
    background-color: skyblue;
    width: 400px;
    height: 200px;

}